importFrom("grDevices", "col2rgb", "dev.off", "pdf", "png",
             "postscript", "rgb", "setEPS")
importFrom("graphics", "abline", "axis", "lines", "par", "persp",
             "plot", "points", "polygon")
importFrom("stats", "AIC", "BIC", "alias", "anova", "as.formula",
             "coef", "coefficients", "contrasts", "deviance", "dnorm",
             "family", "fitted", "formula", "lm", "loess", "logLik",
             "median", "model.frame", "model.matrix", "model.response",
             "na.omit", "p.adjust", "pcauchy", "pchisq", "pf", "plogis",
             "pnorm", "predict", "pt", "qt", "quantile", "relevel",
             "residuals", "residuals.glm", "sd", "terms", "update",
             "var", "vcov", "gaussian", "glm")
importFrom("games", "clarke")
importFrom("AICcmodavg", "AICc")
importFrom("fANCOVA", "loess.as")
importFrom("VGAM", "yeo.johnson")
importFrom("optiscale", "opscale")
importFrom("utils", "combn")
importFrom("boot", "cv.glm")
importFrom("VGAM", "pgumbel")
importFrom("QRM", "pGumbel")
import(car)
import(effects)
import(grid)
import(lattice)
import(MASS)
import(nnet)
import(splines)
import(pscl)
import(gdata)
import(xtable)
S3method(plot, diffci)
S3method(print, diffci)
S3method(plot, balsos)
S3method(summary, balsos)
S3method(print, pre)
S3method(plot, loess)
S3method(print, mnlfit)
S3method(print, glmc2)
S3method(print, iqq)
S3method(print, ordfit)
S3method(print, ordChange)
S3method(central, factor)
S3method(central, numeric)
S3method(searchVarLabels, data.frame)
S3method(searchVarLabels, tbl_df)
S3method(inspect, data.frame)
S3method(inspect, tbl_df)
S3method(probgroup, polr)
S3method(probgroup, multinom)
S3method(summary, polr)
S3method(print, summary.polr)
export(
    tscslag, 
    makeHypSurv,
    poisfit,
    probgroup, 
    probgroup.polr, 
    probgroup.multinom, 
    oc2plot, 
    print.summary.polr, 
    summary.polr,
    DAintfun3,
    testGAMint,
    probci,
    cv.lo2,
    yj_trans, 
    alsosDV,
    plot.loess, 
    changeSig,
    loessDeriv,
    balsos,
    inspect,
    inspect.data.frame, 
    inspect.tbl_df,
    binfit,
    btscs,
    cat2Table,
    combTest,
    DAintfun,
    DAintfun2,
    glmChange,
    glmChange2,
    intEff,
    mnlSig,
    mnlAveEffPlot,
    mnlChange,
    mnlChange2,
    ordChange,
    ordChange2,
    mnlfit,
    ordfit,
    ordAveEffPlot,
    poisGOF,
    pre,
    searchVarLabels,
    searchVarLabels.data.frame,
    searchVarLabels.tbl_df,
    simPredpolr,
    ziChange,
    BGMtest,
    intQualQuant,
    panel.transci,
    panel.doublerug,
    panel.ci,
    prepanel.ci,
    panel.2cat,
    crTest,
    crSpanTest,
    scaleDataFrame,
    outXT,
    aveEffPlot,
    NKnots,
    NKnotsTest,
    testLoess, 
    secondDiff, 
    outEff)
